<template>
  <v-expansion-panel>
    <v-expansion-panel-header>{{ tipo }}</v-expansion-panel-header>
    <v-expansion-panel-content>
      <v-card>
        <v-card-title>
          <v-row>
            <v-col cols="12">
              <v-dialog v-model="dialog" persistent max-width="600px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark v-on="on">Adicionar</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">Adicionar a {{ tipo }}</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            v-model="doc.descricao"
                            label="Descricao"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            v-model="doc.fornecedor"
                            label="Fornecedor"
                            hint="Nome do fornecedor"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-text-field
                            v-model.number="doc.valor"
                            prefix="R$"
                            label="valor"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                          <v-menu
                            ref="menu"
                            v-model="menu"
                            :close-on-content-click="false"
                            :return-value.sync="doc.date"
                            transition="scale-transition"
                            offset-y
                            min-width="290px"
                          >
                            <template v-slot:activator="{ on }">
                              <v-text-field
                                v-model="doc.date"
                                label="Picker in menu"
                                prepend-icon="mdi-calender"
                                readonly
                                v-on="on"
                              ></v-text-field>
                            </template>
                            <v-date-picker
                              v-model="doc.date"
                              no-title
                              scrollable
                            >
                              <v-spacer></v-spacer>
                              <v-btn text color="primary" @click="menu = false"
                                >Cancel</v-btn
                              >
                              <v-btn
                                text
                                color="primary"
                                @click="$refs.menu.save(doc.date)"
                                >OK</v-btn
                              >
                            </v-date-picker>
                          </v-menu>
                        </v-col>
                        <v-col cols="12" sm="6">
                          <v-file-input
                            v-model="file"
                            label="Selecionar foto ou pdf"
                            filled
                            prepend-icon="mdi-camera"
                          ></v-file-input>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialog = false"
                      >Close</v-btn
                    >
                    <v-btn
                      color="blue darken-1"
                      text
                      :loading="loading"
                      @click="salvar"
                      >Save</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-title>
        <v-data-table
          dense
          :items-per-page="5"
          :headers="headers"
          :items="documentos"
          :search="search"
        ></v-data-table>
      </v-card>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
export default {
  props: ['tipo', 'db', 'documentos'],
  data() {
    return {
      dialog: false,

      loading: false,
      search: '',
      // file nao faz parte do obj doc
      file: [],
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      doc: {
        date: new Date().toISOString().substr(0, 10),
        fornecedor: '',
        valor: '',
        descricao: '',
        downloadLink: '',
        // file nao faz parte do obj doc
      },
      initDoc: {
        date: new Date().toISOString().substr(0, 10),
        fornecedor: '',
        valor: '',
        descricao: '',
        downloadLink: '',
        // file nao faz parte do obj doc
      },
      headers: [
        {
          text: 'Descricao',
          align: 'start',
          sortable: false,
          value: 'descricao',
        },
        { text: 'Fornecedor', value: 'fornecedor' },
        { text: 'Valor', value: 'valor' },
        { text: 'Data', value: 'date' },
        // { text: 'Download', value: 'downloadLink' },
      ],
    }
  },
  methods: {
    async salvar() {
      // file nao faz parte do obj doc
      this.loading = true
      const storageRef = this.$fireStorage.ref()
      const filename = `${this.doc.date}_${this.doc.fornecedor}_${this.file.name}`
      const tipoRef = storageRef.child(
        `${this.$store.state.obra.id}/${this.db}/${filename}`
      )
      try {
        await tipoRef.put(this.file).then((snap) => {
          snap.ref.getDownloadURL().then((url) => {
            this.doc.downloadLink = url
            this.saveToDB()
          })
        })
        this.loading = false
        alert('File uploaded.')
      } catch (e) {
        alert(e.message)
      }

      this.dialog = false
    },
    async saveToDB() {
      const obraid = this.$store.state.obra.id
      const uid = this.$store.state.authUser.uid
      const obraRef = this.$fireStore
        .collection('obras')
        .doc(obraid)
        .collection('documentos')
      await obraRef
        .add({
          tipo: this.tipo,
          ...this.doc,
          obraid: obraid,
          timestamp: this.$fireStoreObj.FieldValue.serverTimestamp(),
          createdBy: uid,
        })
        .catch((e) => alert(e))
      // file nao faz parte do obj doc
      this.doc = Object.assign({}, this.initDoc)
      this.file = []
    },
  },
}
</script>

<style></style>
