<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" app temporary>
      <v-row dense justify="center" align="center">
        <v-col cols="12">
          <v-list-item>
            <v-list-item-content>
              <!-- <v-list-item-title class="title">{{
                authUser.email
              }}</v-list-item-title>
              <v-list-item-subtitle
                >Obra {{ $store.state.obra.nome }}</v-list-item-subtitle
              > -->
            </v-list-item-content>
          </v-list-item>
        </v-col>

        <v-col class="text-center mb-6">
          <v-btn to="gerenciador" small rounded>Conta e obras</v-btn>
        </v-col>
      </v-row>

      <v-divider></v-divider>
      <v-btn outlined color="success" @click="installPWA()">Instalar</v-btn>
      <v-divider></v-divider>

      <v-row justify="space-between">
        <v-col cols="12">
          <v-list dense nav>
            <v-list-item
              v-for="(item, i) in items"
              :key="i"
              :to="item.to"
              router
              exact
            >
              <v-list-item-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title v-text="item.title" />
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col cols="12">
          <v-list shaped>
            <v-list-item>
              <v-switch
                v-model="atalhos"
                :label="`Atalhos: ${atalhos.toString()}`"
              ></v-switch>
            </v-list-item>
            <v-list-item link class="red" dark round @click="logout">
              <v-list-item-action>
                <v-icon>mdi-logout</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Logout</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-col>
      </v-row>
    </v-navigation-drawer>
    <v-app-bar app collapse-on-scroll dark dense>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

      <v-toolbar-title
        >Obra Total - {{ $store.state.obra.nome }}</v-toolbar-title
      >
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-content>
      <nuxt />
    </v-content>
    <v-speed-dial
      v-if="atalhos"
      v-model="fab"
      fixed
      bottom
      right
      direction="top"
      transition="slide-x-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="primary" fab elevation="10">
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-btn class="ma-2" dark rounded small color="green">
        Receber
      </v-btn>
      <v-btn class="ma-2" dark rounded small color="indigo">
        Pagar
      </v-btn>
      <v-btn class="ma-2" dark rounded small color="red">
        Foto
      </v-btn>
      <v-btn class="ma-2" dark rounded small color="red">
        Agendar
      </v-btn>
    </v-speed-dial>
    <!-- <Snackbar></Snackbar> -->
  </v-app>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
// import Snackbar from '~/components/Snackbar.vue'

let deferredPrompt

window.addEventListener('beforeinstallprompt', (e) => {
  // Prevent Chrome 67 and earlier from automatically showing the prompt
  e.preventDefault()
  // Stash the event so it can be triggered later on the button event.
  deferredPrompt = e
  // Update UI by showing a button to notify the user they can add to home screen
  // Show the prompt
  deferredPrompt.prompt()
  // Wait for the user to respond to the prompt
  deferredPrompt.userChoice.then((choiceResult) => {
    if (choiceResult.outcome === 'accepted') {
      console.log('User accepted the prompt')
    } else {
      console.log('User dismissed the prompt')
    }
    deferredPrompt = null
  })
})

export default {
  middleware: ['auth'],
  // components: { Snackbar },
  data() {
    return {
      drawer: false,
      fab: false,
      atalhos: true,
      collapseOnScroll: true,
      obras: [],
      obraAtual: '',
      snackbar: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Painel Inicial',
          to: '/inicio',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Diario de obra',
          to: '/diario',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Planejamento',
          to: '/planejamento',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Estoque',
          to: '/estoque',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Funcionarios',
          to: '/funcionarios',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Fornecedores',
          to: '/fornecedores',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Documentos',
          to: '/documentos',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Relatorios',
          to: '/relatorios',
        },
      ],
      title: 'Bauwerk',
    }
  },
  computed: {
    ...mapState({
      authUser: (state) => state.authUser,
      obra: (state) => state.obra,
    }),
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
    }),
  },
  methods: {
    async logout() {
      try {
        await this.$fireAuth.signOut()
        this.drawer = false
        this.$router.push({
          path: '/',
        })
      } catch (e) {
        alert(e)
      }
      this.$notifier.showMessage({
        content: 'Logout',
        color: 'info',
      })
    },
    updateStore(id) {
      this.$store.dispatch('updateObra', id)
      this.drawer = false
    },
    async installPWA() {
      let deferredPrompt
      window.addEventListener('beforeinstallprompt', (e) => {
        // Prevent Chrome 67 and earlier from automatically showing the prompt
        e.preventDefault()
        // Stash the event so it can be triggered later.
        deferredPrompt = e
        // Update UI to notify the user they can add to home screen

        // Show the prompt
        deferredPrompt.prompt()
        // Wait for the user to respond to the prompt
        deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            console.log('User accepted the A2HS prompt')
          } else {
            console.log('User dismissed the A2HS prompt')
          }
          deferredPrompt = null
        })
      })
    },
  },
}
</script>
