<template>
  <body class="bg-black-alt font-sans leading-normal tracking-normal">
    <nav id="header" class="bg-gray-900 fixed w-full z-10 top-0 shadow">
      <div
        class="w-full container mx-auto flex flex-wrap items-center mt-0 pt-3 pb-3 md:pb-0"
      >
        <div class="w-1/2 pl-2 md:pl-0">
          <a
            class="text-gray-100 text-base xl:text-xl no-underline hover:no-underline font-bold"
            href="#"
          >
            <i class="fas fa-moon text-blue-400 pr-3"></i> Admin Dark Mode
          </a>
        </div>
        <div class="w-1/2 pr-0">
          <div class="flex relative inline-block float-right">
            <div class="relative text-sm text-gray-100">
              <button
                id="userButton"
                class="flex items-center focus:outline-none mr-3"
              >
                <img
                  class="w-8 h-8 rounded-full mr-4"
                  src="http://i.pravatar.cc/300"
                  alt="Avatar of User"
                />
                <span class="hidden md:inline-block text-gray-100"
                  >Hi, User</span
                >
                <svg
                  class="pl-2 h-2 fill-current text-gray-100"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 129 129"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  enable-background="new 0 0 129 129"
                >
                  <g>
                    <path
                      d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"
                    />
                  </g>
                </svg>
              </button>
              <div
                id="userMenu"
                class="bg-gray-900 rounded shadow-md mt-2 absolute mt-12 top-0 right-0 min-w-full overflow-auto z-30 invisible"
              >
                <ul class="list-reset">
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline"
                      >My account</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline"
                      >Notifications</a
                    >
                  </li>
                  <li><hr class="border-t mx-2 border-gray-400" /></li>
                  <li>
                    <a
                      href="#"
                      class="px-4 py-2 block text-gray-100 hover:bg-gray-800 no-underline hover:no-underline"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <div class="block lg:hidden pr-4">
              <button
                id="nav-toggle"
                class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-100 hover:border-teal-500 appearance-none focus:outline-none"
              >
                <svg
                  class="fill-current h-3 w-3"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <title>Menu</title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
              </button>
            </div>
          </div>
        </div>

        <div
          id="nav-content"
          class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-900 z-20"
        >
          <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-blue-400 no-underline hover:text-gray-100 border-b-2 border-blue-400 hover:border-blue-400"
              >
                <i class="fas fa-home fa-fw mr-3 text-blue-400"></i
                ><span class="pb-1 md:pb-0 text-sm">Home</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-pink-400"
              >
                <i class="fas fa-tasks fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">Tasks</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-purple-400"
              >
                <i class="fa fa-envelope fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">Messages</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-green-400"
              >
                <i class="fas fa-chart-area fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">Analytics</span>
              </a>
            </li>
            <li class="mr-6 my-2 md:my-0">
              <a
                href="#"
                class="block py-1 md:py-3 pl-1 align-middle text-gray-500 no-underline hover:text-gray-100 border-b-2 border-gray-900 hover:border-red-400"
              >
                <i class="fa fa-wallet fa-fw mr-3"></i
                ><span class="pb-1 md:pb-0 text-sm">Payments</span>
              </a>
            </li>
          </ul>

          <div class="relative pull-right pl-4 pr-4 md:pr-0">
            <input
              type="search"
              placeholder="Search"
              class="w-full bg-gray-900 text-sm text-gray-400 transition border border-gray-800 focus:outline-none focus:border-gray-600 rounded py-1 px-2 pl-10 appearance-none leading-normal"
            />
            <div
              class="absolute search-icon"
              style="top: 0.375rem; left: 1.75rem;"
            >
              <svg
                class="fill-current pointer-events-none text-gray-500 w-4 h-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
              >
                <path
                  d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!--Container-->
    <div class="container w-full mx-auto pt-20">
      <div
        class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal"
      >
        <!--Console Content-->

        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-green-600">
                    <i class="fa fa-wallet fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-400">
                    Total Revenue
                  </h5>
                  <h3 class="font-bold text-3xl text-gray-600">
                    $3249
                    <span class="text-green-500"
                      ><i class="fas fa-caret-up"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-orange-600">
                    <i class="fas fa-users fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-400">Total Users</h5>
                  <h3 class="font-bold text-3xl text-gray-600">
                    249
                    <span class="text-orange-500"
                      ><i class="fas fa-exchange-alt"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-yellow-600">
                    <i class="fas fa-user-plus fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-400">New Users</h5>
                  <h3 class="font-bold text-3xl text-gray-600">
                    2
                    <span class="text-yellow-600"
                      ><i class="fas fa-caret-up"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-blue-600">
                    <i class="fas fa-server fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-400">
                    Server Uptime
                  </h5>
                  <h3 class="font-bold text-3xl text-gray-600">152 days</h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-indigo-600">
                    <i class="fas fa-tasks fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-400">To Do List</h5>
                  <h3 class="font-bold text-3xl text-gray-600">7 tasks</h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow p-2">
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded p-3 bg-red-600">
                    <i class="fas fa-inbox fa-2x fa-fw fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-400">Issues</h5>
                  <h3 class="font-bold text-3xl text-gray-600">
                    3
                    <span class="text-red-500"
                      ><i class="fas fa-caret-up"></i
                    ></span>
                  </h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
        </div>

        <!--Divider-->
        <hr class="border-b-2 border-gray-600 my-8 mx-4" />

        <div class="flex flex-row flex-wrap flex-grow mt-2">
          <div class="w-full md:w-1/2 p-3">
            <!--Graph Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow">
              <div class="border-b border-gray-800 p-3">
                <h5 class="font-bold uppercase text-gray-600">Graph</h5>
              </div>
              <div class="p-5">
                <canvas
                  id="chartjs-7"
                  class="chartjs"
                  width="undefined"
                  height="undefined"
                ></canvas>
                <script>
                  new Chart(document.getElementById('chartjs-7'), {
                    type: 'bar',
                    data: {
                      labels: ['January', 'February', 'March', 'April'],
                      datasets: [
                        {
                          label: 'Page Impressions',
                          data: [10, 20, 30, 40],
                          borderColor: 'rgb(255, 99, 132)',
                          backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        },
                        {
                          label: 'Adsense Clicks',
                          data: [5, 15, 10, 30],
                          type: 'line',
                          fill: false,
                          borderColor: 'rgb(54, 162, 235)',
                        },
                      ],
                    },
                    options: {
                      scales: {
                        yAxes: [
                          {
                            ticks: {
                              beginAtZero: true,
                            },
                          },
                        ],
                      },
                    },
                  })
                </script>
              </div>
            </div>
            <!--/Graph Card-->
          </div>

          <div class="w-full md:w-1/2 p-3">
            <!--Graph Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow">
              <div class="border-b border-gray-800 p-3">
                <h5 class="font-bold uppercase text-gray-600">Graph</h5>
              </div>
              <div class="p-5">
                <canvas
                  id="chartjs-0"
                  class="chartjs"
                  width="undefined"
                  height="undefined"
                ></canvas>
                <script>
                  new Chart(document.getElementById('chartjs-0'), {
                    type: 'line',
                    data: {
                      labels: [
                        'January',
                        'February',
                        'March',
                        'April',
                        'May',
                        'June',
                        'July',
                      ],
                      datasets: [
                        {
                          label: 'Views',
                          data: [65, 59, 80, 81, 56, 55, 40],
                          fill: false,
                          borderColor: 'rgb(75, 192, 192)',
                          lineTension: 0.1,
                        },
                      ],
                    },
                    options: {},
                  })
                </script>
              </div>
            </div>
            <!--/Graph Card-->
          </div>

          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Graph Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow">
              <div class="border-b border-gray-800 p-3">
                <h5 class="font-bold uppercase text-gray-600">Graph</h5>
              </div>
              <div class="p-5">
                <canvas
                  id="chartjs-1"
                  class="chartjs"
                  width="undefined"
                  height="undefined"
                ></canvas>
                <script>
                  new Chart(document.getElementById('chartjs-1'), {
                    type: 'bar',
                    data: {
                      labels: [
                        'January',
                        'February',
                        'March',
                        'April',
                        'May',
                        'June',
                        'July',
                      ],
                      datasets: [
                        {
                          label: 'Likes',
                          data: [65, 59, 80, 81, 56, 55, 40],
                          fill: false,
                          backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(255, 205, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(201, 203, 207, 0.2)',
                          ],
                          borderColor: [
                            'rgb(255, 99, 132)',
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(75, 192, 192)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                          ],
                          borderWidth: 1,
                        },
                      ],
                    },
                    options: {
                      scales: {
                        yAxes: [
                          {
                            ticks: {
                              beginAtZero: true,
                            },
                          },
                        ],
                      },
                    },
                  })
                </script>
              </div>
            </div>
            <!--/Graph Card-->
          </div>

          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Graph Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow">
              <div class="border-b border-gray-800 p-3">
                <h5 class="font-bold uppercase text-gray-600">Graph</h5>
              </div>
              <div class="p-5">
                <canvas
                  id="chartjs-4"
                  class="chartjs"
                  width="undefined"
                  height="undefined"
                ></canvas>
                <script>
                  new Chart(document.getElementById('chartjs-4'), {
                    type: 'doughnut',
                    data: {
                      labels: ['P1', 'P2', 'P3'],
                      datasets: [
                        {
                          label: 'Issues',
                          data: [300, 50, 100],
                          backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)',
                          ],
                        },
                      ],
                    },
                  })
                </script>
              </div>
            </div>
            <!--/Graph Card-->
          </div>

          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Template Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow">
              <div class="border-b border-gray-800 p-3">
                <h5 class="font-bold uppercase text-gray-600">Template</h5>
              </div>
              <div class="p-5"></div>
            </div>
            <!--/Template Card-->
          </div>

          <div class="w-full p-3">
            <!--Table Card-->
            <div class="bg-gray-900 border border-gray-800 rounded shadow">
              <div class="border-b border-gray-800 p-3">
                <h5 class="font-bold uppercase text-gray-600">Table</h5>
              </div>
              <div class="p-5">
                <table class="w-full p-5 text-gray-700">
                  <thead>
                    <tr>
                      <th class="text-left text-gray-600">Name</th>
                      <th class="text-left text-gray-600">Side</th>
                      <th class="text-left text-gray-600">Role</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>Obi Wan Kenobi</td>
                      <td>Light</td>
                      <td>Jedi</td>
                    </tr>
                    <tr>
                      <td>Greedo</td>
                      <td>South</td>
                      <td>Scumbag</td>
                    </tr>
                    <tr>
                      <td>Darth Vader</td>
                      <td>Dark</td>
                      <td>Sith</td>
                    </tr>
                  </tbody>
                </table>

                <p class="py-2">
                  <a href="#" class="text-white">See More issues...</a>
                </p>
              </div>
            </div>
            <!--/table Card-->
          </div>
        </div>

        <!--/ Console Content-->
      </div>
    </div>
    <!--/container-->

    <footer class="bg-gray-900 border-t border-gray-400 shadow">
      <div class="container max-w-md mx-auto flex py-8">
        <div class="w-full mx-auto flex flex-wrap">
          <div class="flex w-full md:w-1/2">
            <div class="px-8">
              <h3 class="font-bold font-bold text-gray-100">About</h3>
              <p class="py-4 text-gray-600 text-sm">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas vel mi ut felis tempus commodo nec id erat. Suspendisse
                consectetur dapibus velit ut lacinia.
              </p>
            </div>
          </div>

          <div class="flex w-full md:w-1/2">
            <div class="px-8">
              <h3 class="font-bold font-bold text-gray-100">Social</h3>
              <ul class="list-reset items-center text-sm pt-3">
                <li>
                  <a
                    class="inline-block text-gray-600 no-underline hover:text-gray-100 hover:text-underline py-1"
                    href="#"
                    >Add social link</a
                  >
                </li>
                <li>
                  <a
                    class="inline-block text-gray-600 no-underline hover:text-gray-100 hover:text-underline py-1"
                    href="#"
                    >Add social link</a
                  >
                </li>
                <li>
                  <a
                    class="inline-block text-gray-600 no-underline hover:text-gray-100 hover:text-underline py-1"
                    href="#"
                    >Add social link</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</template>
<script>
import { mapState, mapGetters } from 'vuex'

export default {
  layout: 'landing',
  data() {
    return {}
  },
  computed: {
    ...mapState({
      authUser: (state) => state.authUser,
    }),
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
    }),
  },
  head() {
    return {
      script: [
        {
          src:
            'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js',
        },
      ],
      link: [
        {
          rel: 'stylesheet',
          href: 'https://use.fontawesome.com/releases/v5.3.1/css/all.css',
        },
      ],
    }
  },
}
</script>
