<template>
  <div>
    <v-container>
      <v-row>
        <v-col sm="12">
          <v-card class="mx-auto">
            <v-card-title> Bom dia, hoje é dia DATA </v-card-title>
            <v-card-subtitle>Atalhos</v-card-subtitle>
            <v-card-actions>
              <v-btn>Presença</v-btn>
              <v-btn>Clima</v-btn>
              <v-btn>Recebimento</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>

        <v-col sm="12">
          <v-card>
            <v-card-title> Sua agenda de hoje</v-card-title>
            <CalendarioSemana />
          </v-card>
        </v-col>

        <v-col sm="12"
          ><v-card>
            <v-card-title> Sua agenda da semana </v-card-title>
            <CalendarioGeral /> </v-card
        ></v-col>
      </v-row>
    </v-container>
    <v-speed-dial
      v-model="fab"
      fixed
      bottom
      right
      direction="top"
      transition="slide-y-reverse-transition"
    >
      <template v-slot:activator>
        <v-btn v-model="fab" color="primary" fab>
          <v-icon v-if="fab">mdi-close</v-icon>
          <v-icon v-else>mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="green">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
      <v-btn fab dark small color="indigo">
        <v-icon>mdi-plus</v-icon>
      </v-btn>
      <v-btn fab dark small color="red">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </v-speed-dial>
  </div>
</template>

<script>
import CalendarioSemana from '~/components/CalendarioSemana.vue'
import CalendarioGeral from '~/components/CalendarioGeral.vue'

export default {
  components: { CalendarioSemana, CalendarioGeral },
  data: () => ({
    dialog: false,
    fab: false,
    search: '',
    headers: [
      {
        text: 'Nome',
        align: 'start',
        value: 'name',
      },
      { text: 'telefone', value: 'phone' },
      { text: 'Funcao', value: 'company.bs' },
      { text: 'Empresa', value: 'company.name' },
      { text: 'Actions', value: 'actions', sortable: false },
    ],
    funcionarios: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      phone: '',
      funcao: '',
      empresa: '',
      company: '',
    },
    defaultItem: {
      name: '',
      phone: '',
      funcao: '',
      empresa: '',
      company: '',
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    },
  },

  watch: {
    dialog(val) {
      val || this.close()
    },
  },

  created() {
    this.initialize()
  },

  methods: {
    async initialize() {
      this.funcionarios = await this.$axios.$get(
        'https://jsonplaceholder.typicode.com/users'
      )
    },

    editItem(item) {
      this.editedIndex = this.funcionarios.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },

    deleteItem(item) {
      const index = this.funcionarios.indexOf(item)
      confirm('Are you sure you want to delete this item?') &&
        this.funcionarios.splice(index, 1)
    },

    close() {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      this.close()
    },
  },
}
</script>
