<template>
  <v-container>
    <span>Documentos</span>
    <v-row>
      <v-col cols="12">
        <v-expansion-panels popout>
          <DocCard
            tipo="Notas Fiscais"
            db="notas_fiscais"
            :documentos="documentos"
          />
        </v-expansion-panels>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import DocCard from '~/components/DocCard.vue'
export default {
  components: {
    DocCard,
  },
  async fetch() {
    const obraid = this.$store.state.obra.id
    const obraRef = this.$fireStore.collection('obras').doc(obraid)
    await obraRef
      .collection('documentos')
      .get()
      .then((snapshot) => {
        snapshot.forEach((doc) => {
          const documento = {
            id: doc.id,
            ...doc.data(),
          }
          this.documentos.push(documento)
        })
      })
      .catch((e) => alert(e))
  },
  data: () => ({
    documentos: [],
  }),
}
</script>

<style></style>
