<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card text>
          <v-card-title primary-title>
            <div>
              <h3 class="display-2 mb-0">Gerenciador de conta</h3>
              <div>CONTA USUARIO</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-dialog v-model="dialog" max-width="500px">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" class="mb-2" v-on="on">Nova obra</v-btn>
              </template>
              <v-card>
                <v-card-title>
                  <span class="headline">Obra</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="obraEditada.nome"
                          label="Nome"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6" md="4">
                        <v-text-field
                          v-model="obraEditada.endereco"
                          label="Endereco"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close"
                    >Cancelar</v-btn
                  >
                  <v-btn color="blue darken-1" text @click="adicionar"
                    >Adicionar</v-btn
                  >
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col v-for="obra in obras" :key="obra.id" cols="12">
        <v-card>
          <v-card-title primary-title>
            <v-row>
              <v-col cols="8">
                <div>
                  <h3 class="headline mb-0">Obra {{ obra.nome }}</h3>
                  <h4 class="caption">{{ obra.endereco }}</h4>
                </div>
              </v-col>
              <v-col cols="4">
                <v-btn
                  small
                  :class="obra.favorito ? 'filled' : 'outlined'"
                  @click="favoritar(obra.id)"
                  >Favoritar</v-btn
                >
              </v-col>
            </v-row>
          </v-card-title>
          <v-card-actions>
            <v-row justify="space-around">
              <v-col>
                <v-btn color="primary" @click="gerenciar(obra.id)"
                  >Gerenciar</v-btn
                >
              </v-col>
              <v-col>
                <v-btn color="error">Apagar obra</v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    obraPadrao: {
      nome: '',
      endereco: '',
      inicio: '',
    },
    obraEditada: {
      nome: '',
      endereco: '',
      inicio: '',
    },
    obras: [],
  }),
  watch: {
    dialog(val) {
      val || this.close()
    },
  },
  created() {
    this.initialize()
  },

  methods: {
    async initialize() {
      const obrasRef = this.$fireStore.collection('obras')
      try {
        await obrasRef.get().then((query) =>
          query.forEach((doc) => {
            this.obras.push({
              id: doc.id,
              ...doc.data(),
            })
          })
        )
      } catch (e) {
        alert(e)
      }
    },
    async adicionar() {
      const uid = this.$store.state.authUser.uid
      const obrasRef = this.$fireStore.collection('obras')
      try {
        await obrasRef.add({
          ...this.obraEditada,
          timestamp: this.$fireStoreObj.FieldValue.serverTimestamp(),
          createdBy: uid,
        })
        this.obraEditada = Object.assign({}, this.obraPadrao)
        this.dialog = false
      } catch (e) {
        alert(e)
        return
      }
      alert('Success.')
    },
    editItem(item) {
      this.editedIndex = this.obras.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem(item) {
      const index = this.obras.indexOf(item)
      confirm(`Deseja apagar obra ${index}?`) &&
        this.funcionarios.splice(index, 1)
    },

    close() {
      this.dialog = false
      setTimeout(() => {
        this.obraEditada = Object.assign({}, this.obraPadrao)
        this.editedIndex = -1
      }, 300)
    },

    async favoritar(n) {
      const usersRef = this.$fireStore.collection('users')
      const uid = this.$store.state.authUser.uid

      await usersRef
        .doc(uid)
        .update({
          favorite: n,
        })
        .then((res) => {
          alert('sucess')
        })
        .catch((e) => {
          alert(e)
        })
    },

    async gerenciar(n) {
      console.log(n)
      const obraId = n
      this.$store.dispatch('updateObra', { obraId })
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      this.close()
    },
  },
}
</script>

<style></style>
