<template>
  <v-container>
    <ResumoSemanal />
  </v-container>
</template>

<script>
import ResumoSemanal from '~/components/ResumoSemanal.vue'

export default {
  components: {
    ResumoSemanal,
  },
}
</script>
