<template>
  <v-container>
    <div>
      <h3 class="display-1 mb-5">
        Firebase Authentication
      </h3>
      <div class="links">
        <v-form v-if="!isLoggedIn" v-model="formValid">
          <h5>SignUp / LogIn</h5>
          <v-text-field
            v-model="formData.email"
            color="primary"
            outlined
            placeholder="Email"
            :rules="formRules.email"
            type="email"
            autocomplete="username"
          ></v-text-field>
          <v-text-field
            v-model="formData.password"
            :rules="formRules.password"
            color="primary"
            outlined
            placeholder="Password"
            type="password"
            autocomplete="current-password"
          ></v-text-field>
          <v-btn
            :disabled="!formValid"
            color="primary"
            outlined
            @click="createUser()"
            >Register</v-btn
          >
          <v-btn
            :disabled="!formValid"
            color="primary"
            outlined
            @click="signInUser()"
            >Sign In</v-btn
          >
        </v-form>
        <div v-else>
          <p>You are logged in with {{ authUser.email }}.</p>
          <v-btn color="primary" outlined href="inicio">Acessar</v-btn>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
import Vue from 'vue'
import { mapState, mapGetters } from 'vuex'

export default Vue.extend({
  layout: 'landing',
  async fetch() {
    // await this.$store.dispatch('GET_PROJECTS')
    // INFO -> this.$fireAuth user etc. are accessible
    // INFO -> this.$store.state.authUser is accessible even on server-side
  },
  data: () => ({
    formData: {
      email: '',
      password: '',
    },
    formValid: false,
    formRules: {
      email: [
        (v) => !!v || 'E-mail is required',
        (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
      ],
      names: [
        (v) => !!v || 'Name is required',
        (v) => (v && v.length <= 10) || 'Name must be less than 10 characters',
      ],
      membershipUntil: [(v) => !!v || 'Required'],
    },
  }),
  computed: {
    ...mapState({
      authUser: (state) => state.authUser,
    }),
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
    }),
  },
  methods: {
    async createUser() {
      try {
        await this.$fireAuth.createUserWithEmailAndPassword(
          this.formData.email,
          this.formData.password
        )
      } catch (e) {
        alert(e)
      }
    },
    async signInUser() {
      try {
        await this.$fireAuth.signInWithEmailAndPassword(
          this.formData.email,
          this.formData.password
        )
      } catch (e) {
        alert(e)
      }
    },
    async logout() {
      try {
        await this.$fireAuth.signOut()
      } catch (e) {
        alert(e)
      }
    },
  },
})
</script>
